{% extends 'layout_master.html' %}
{% block body %}

<div class="row">
    <div class="col-ml-7">
        
        <div class="card card-body text-bg-warning">
            <section>
                <div>
                    <h1><span> DETECTION FAKE NEWS</span> IMPLEMENT IA</h1>
                    <p class="mt-3">
                        This website allows detecting fake news through machine learning using python libraries. To know more register!
                    </p>
                    <div class="btn btn-info mt-2">
                        <a href="">
                            GET STARTED!!
                        </a>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3 mt-3" >
                    <div class="card-header">MACHINE LEARNING IN FAKE NEWS</div>
                    <div class="card-body">
                      <img src="https://c.files.bbci.co.uk/7BE9/production/_99712713_gettyimages-639620990.jpg">
                      <p class="card-text">This website use machine learning with python for training and detecting fake news</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}