{% extends 'layout_master.html' %}
{% block body %}

<div class="row">
    <div class="col-ml-7">
        
        <div class="card card-body text-bg-dark">
            <form action="/add" method="POST">
                <label for="txtNombre" class="form-label text-capitalize">Ingrese el nombre</label>
                <input class="form-control" type="text" id="txtNombre" name="nombre" placeholder="Nombre" required>
                <label for="txtApellido" class="form-label pt-2 text-capitalize">Ingrese el apellido</label>
                <input class="form-control" type="text" id="txtApellido" name="apellido" placeholder="Apellido" required>
                <label for="txtCuidad" class="form-label pt-2 text-capitalize">Ingrese la ciudad</label>
                <input class="form-control" type="text" id="txtCiudad" name="ciudad" list="datalistOptions" placeholder="Ciudad" required>
                <datalist id="datalistOptions">
                    <option value="Cochabamba">
                    <option value="La Paz">
                    <option value="Santa Cruz">
                    <option value="Tarija">
                    <option value="Oruro">
                </datalist>
                <label for="txtDireccion" class="form-label pt-2 text-capitalize">Ingrese la direccion</label>
                <input class="form-control" type="text" id="txtDireccion" name="direccion" placeholder="Direccion" required>
                <label for="txtSalario" class="form-label pt-2 text-capitalize">Ingrese el salario</label>
                <input class="form-control" type="text" id="txtSalario" name="salario" list="datalistSalary" placeholder="Salario" required>
                <datalist id="datalistSalary">
                    <option value="1000">
                    <option value="2000">
                    <option value="3000">
                    <option value="4000">
                    <option value="5000">
                </datalist>
                <div class="form-group pt-2">
                    <button type="submit" class="btn btn-outline-info text-capitalize" >
                        Agregar nuevo registro
                    </button>
                </div>
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}

        <hr/>
        <div class="table-responsive-lg pt-4">
            <table class="table table-success table-striped caption-top">
                <caption class="text-capitalize">Lista de registros</caption>
                <thead class="table-dark">
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Ciudad</td>
                        <td>Direccion</td>
                        <td>Salario</td>
                        <td>Realizar Accion</td>
                    </tr>
                </thead>
                <tbody>
                    {% for professor in professors: %}
                    <tr>
                        <td>{{ professor.first_name}}</td>
                        <td>{{ professor.last_name }}</td>
                        <td>{{ professor.city }}</td>
                        <td>{{ professor.address }}</td>
                        <td>{{ professor.salary }}</td>
                        <td>
                           <a href="/edit/{{professor.id}}" class="btn btn-outline-info" >Modificar</a>
                           <a href="/delete/{{professor.id}}" class="btn btn-outline-danger" >Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
